# Préparation

## Lancement des imports

In [1]:
import pandas as pd 
import numpy as np
import warnings 
import os
import sqlalchemy
import datetime as dt
import seaborn as sns

from datetime import datetime
warnings.filterwarnings(action="ignore")

%pylab inline
%load_ext sql

plt.style.use('seaborn-darkgrid')
sns.set(font_scale=3)

Populating the interactive namespace from numpy and matplotlib

## Engine et connection

In [2]:
engine = sqlalchemy.create_engine("oracle+cx_oracle://stag08:Phoenix#Icar67@51.91.76.248:15440/coursdb")
connection = engine.connect()
%sql oracle+cx_oracle://stag08:Phoenix#Icar67@51.91.76.248:15440/coursdb

## Dataframe à partir des colonnes souhaitées de user_constraints

In [28]:
query = """select constraint_name, r_constraint_name, constraint_type, table_name from user_constraints """
df_r = pd.read_sql_query(query,connection)

In [29]:
df_r.head(10)

      constraint_name  r_constraint_name constraint_type         table_name
0        PROD_CATE_FK      CATEGORIES_PK               R           PRODUITS
1        COMM_CLIE_FK         CLIENTS_PK               R          COMMANDES
2    DET_COMM_COMM_FK       COMMANDES_PK               R  DETAILS_COMMANDES
3        COMM_EMPL_FK        EMPLOYES_PK               R          COMMANDES
4        EMPL_EMPL_FK        EMPLOYES_PK               R           EMPLOYES
5        PROD_FOUR_FK    FOURNISSEURS_PK               R           PRODUITS
6    DET_COMM_PROD_FK        PRODUITS_PK               R  DETAILS_COMMANDES
7     IND_DIM_CLIE_FK     DIM_CLIENTS_PK               R        INDICATEURS
8     IND_DIM_EMPL_FK    DIM_EMPLOYES_PK               R        INDICATEURS
9  IND_DG_ACHEMINE_FK  DIM_GEOGRAPHIE_PK               R        INDICATEURS

## On se sépare des colonnes qui ne sont pas mentionnées p1 de SchemaExemples

#### On veut les tables : clients, employes, commandes, details_commandes, produits, categories, fournisseurs

In [30]:
df_relation = df_r[df.table_name != 'INDICATEURS'][df.table_name != 'DIM_PRODUITS'][df.table_name !='DIM_GEOGRAPHIE'
][df.table_name != 'DIM_CLIENTS'][df.table_name != 'DIM_EMPLOYES'][df.table_name != 'DIM_TEMPS']

In [33]:
df_relation.head(10)

     constraint_name r_constraint_name constraint_type         table_name
0       PROD_CATE_FK     CATEGORIES_PK               R           PRODUITS
1       COMM_CLIE_FK        CLIENTS_PK               R          COMMANDES
2   DET_COMM_COMM_FK      COMMANDES_PK               R  DETAILS_COMMANDES
3       COMM_EMPL_FK       EMPLOYES_PK               R          COMMANDES
4       EMPL_EMPL_FK       EMPLOYES_PK               R           EMPLOYES
5       PROD_FOUR_FK   FOURNISSEURS_PK               R           PRODUITS
6   DET_COMM_PROD_FK       PRODUITS_PK               R  DETAILS_COMMANDES
14       SYS_C008043              None               C         CATEGORIES
15       SYS_C008044              None               C         CATEGORIES
16       SYS_C008045              None               C         CATEGORIES

In [41]:
df_relation.r_constraint_name.fillna(value=np.nan, inplace=True)